fastapi
uvicorn
python-dotenv
langchain
langchain-google-genai
langchain-community
unstructured
requests
validators
youtube_transcript_api
python-multipart
pydantic
crewai[google-genai]
crewai_tools
tavily-python==0.7.6
langchain-tavily==0.2.6