pip
setuptools
wheel
python-dotenv
validators
requests
datetime
fastapi
uvicorn
pydantic
langserve
langchain_google_genai
langchain_community
unstructured
imgkit
pyppeteer
webdriver-manager
selenium
playwright
pyflowchart
crewai[google-genai]
crewai_tools
