python-dotenv
langchain_google_genai
langchain_community
langchain_huggingface
sentence-transformers
faiss-cpu
langchain_chroma
langchain_groq
langchain_huggingface
mysql-connector-python
SQLAlchemy
validators
unstructured
pytube
numexpr
huggingface_hub
fastapi
langserve
sse_starlette
pydantic
uvicorn
tenacity
sqlalchemy
pymysql
passlib[bcrypt]
python-jose
transformers
python-multipart
bcrypt==4.3.0
