python-dotenv
langchain_google_genai
langchain_community
ipykernel
langchain-text-splitters
chromadb
notebook
jupyter
langchain-ollama
langchain_huggingface
sentence-transformers
faiss-cpu
langchain_chroma
streamlit
langchain_groq
langchain_huggingface
mysql-connector-python
SQLAlchemy
validators
youtube_transcript_api
unstructured
pytube
numexpr
huggingface_hub
fastapi
langserve
sse_starlette
pydantic
uvicorn
duckduckgo-search
tenacity
pymongo
sqlalchemy
pymysql
passlib[bcrypt]
python-jose
transformers
python-multipart
bcrypt==4.3.0